.actions-box-container {
  padding: var(--app-space-md);
  border-top: 1px solid var(--stroke-secondary-clr);
}

.actions-box {
  display: flex;
  flex-direction: column;
  gap: var(--app-space-sm);

  width: 100%;
  max-width: 350px;
  margin-inline: auto;

  /* margin-block-start: var(--app-space-lg); */
  padding: var(--app-space-sm);
}

.actions-box__top {
  display: flex;
  justify-content: space-between;
  gap: var(--app-space-sm);
}

.actions-box__btn {
  background-color: var(--accent-primary-clr);
  padding: var(--app-space-md);
  border: none;
  color: var(--text-primary-clr);
  font-weight: bold;
  letter-spacing: 1.5px;
  flex: 1;
}

.actions-box__btn:active {
  scale: 0.98;
}
