.main-app {
  width: 100%;
  max-width: var(--app-width);
  margin-inline: auto;
}

.main-app__body {
  display: grid;
  grid-template-columns: 300px 1fr;
  /* min-height: calc(100vh - 250px); */
}

@media (width < 700px) {
  .main-app__body {
    grid-template-columns: 1fr;
  }
}
