.question-tracker-board {
  padding: var(--app-space-lg);
  min-height: 400px;
  border-right: 1px solid var(--stroke-secondary-clr);
}

@media (width < 700px) {
  .question-tracker-board {
    min-height: fit-content;
  }
}

.question-tracker__indicator-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--app-space-md);
}

.question-tracker__indicator-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 10px;
  background-color: transparent;
  width: 35px;
  aspect-ratio: 1/1;
  color: var(--text-secondary-clr);
  transition: all 0.1s ease-in;
}

.question-tracker__indicator-box:active {
  scale: 0.95;
}

.question-tracker__indicator-box.active {
  border: 2px solid var(--accent-primary-clr);
  background-color: transparent;
  color: var(--accent-primary-clr);
  font-weight: 700;
  scale: 1.1;
}

.question-tracker__indicator-box.flag {
  border: 2px solid #e25353;
  background-color: #e25353;
  color: black;
}

.question-tracker__indicator-box.active.flag {
  font-weight: 700;
}
