.question-tracker-board {
  padding: var(--app-space-lg);
  min-height: 70vh;
  border-right: 1px solid var(--stroke-secondary-clr);
}

.question-tracker__indicator-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--app-space-md);
}

.question-tracker__indicator-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 10px;
  background-color: transparent;
  width: 35px;
  aspect-ratio: 1/1;
  color: var(--text-secondary-clr);
  transition: all 0.1s ease-in;
}

.question-tracker__indicator-box:active {
  scale: 0.95;
}

.question-tracker__indicator-box.active {
  border: 2px solid var(--accent-primary-clr);
  background-color: transparent;
  color: var(--accent-primary-clr);
  font-weight: 700;
  scale: 1.1;
}

.question-tracker__indicator-box.flag {
  border: 2px solid #e25353;
  background-color: #e25353;
  color: black;
}

.question-tracker__indicator-box.attempted {
  border: 2px solid #13c813;
  background-color: #13c813;
  color: black;
}

.question-tracker__indicator-box.flag.attempted {
  position: relative;
  border: none;
  overflow: hidden;
}

.question-tracker__indicator-box.flag.attempted::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 15px;
  aspect-ratio: 1/2;
  background-color: #e25353;
  right: -5px;
  bottom: -10px;
  rotate: 45deg;
  transition: all 0.3 ease-in;
}

@media (width < 700px) {
  .question-tracker-board {
    min-height: fit-content;
    border: none;
  }

  .question-tracker__indicator-box {
    width: 25px;
  }
}
