.question-body {
  color: var(--text-primary-clr);
  animation: fade-in 2s ease;
  background-color: var(--bg-primary-clr);
  min-height: 100%;
  padding-block-end: 80px;
}

.question-body h2 {
  color: var(--text-primary-clr);
}

.question-body__question-number {
  margin: var(--app-space-lg);
  margin-top: 0;
}

.question-body__question-box {
  margin: var(--app-space-lg);
  border: 2px solid var(--stroke-primary-clr);
  padding: var(--app-space-md);
  /* margin-block: var(--app-space-md); */
}

.question-body__option-container {
  margin: var(--app-space-lg);
  /* margin-inline-start: 2.5em; */
}

.question-body__option {
  display: flex;
  align-items: flex-start;
  gap: var(--app-space-sm);
}

.question-body__option button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 30px;
  aspect-ratio: 1/1;
}

.question-body__option button:active {
  scale: 0.95;
  animation: rotate 0.3s ease-in;
}

.question-body__option-line {
  font-size: var(--font-size-lg);
  font-weight: 400;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
