.question-body {
  /* background-color: var(--bg-secondary-clr); */
  color: var(--text-primary-clr);
  animation: fade-in 2s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.question-body h2 {
  color: var(--text-primary-clr);
}

.question-body__question-number {
  margin: var(--app-space-lg);
}

.question-body__question-box {
  margin: var(--app-space-lg);
  border: 2px solid var(--stroke-primary-clr);
  padding: var(--app-space-md);
  /* margin-block: var(--app-space-md); */
}

.question-body__option-container {
  margin-block: var(--app-space-lg);
  margin-inline-start: 2.5em;
}

.question-body__option {
  display: flex;
  align-items: center;
  gap: var(--app-space-md);
}

.question-body__option-line {
  font-size: var(--font-size-lg);
  font-weight: 400;
}
