.main-body {
  padding: 1.5em;
  margin-block-start: 0.25em;
  background-color: var(--fg-primary-clr);
}

@media (width > 600px) {
  .main-body {
    width: 100%;
    max-width: var(--app-width);
    max-width: 900px;
    margin-inline: auto;
  }
}
